@model StudentSignUpForm

<div class="auth-content-wrapper">
    <div class="auth-wrapper container">
        <div class="auth-content">
            <div class="auth-title">
                Đăng ký
            </div>
            <div class="auth-form-wrapper">
                <form asp-action="SignUp" class="login-form" method="POST">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="auth-input-wrapper">
                        <input asp-for="Name" placeholder='Họ và tên' class="auth-input" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="auth-input-wrapper">
                        <div class="auth-label">Giới tính</div>
                        <div class="auth-radio-wapper"> 
                            <label class="auth-label-radio">
                                Nam
                                <input value="male" asp-for="Gender" type="radio" class="auth-radio" checked/>
                            </label>
                            <label class="auth-label-radio">
                                Nữ
                                <input value="female" asp-for="Gender" type="radio" class="auth-radio" />
                            </label>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    <div class="auth-input-wrapper">
                        <div class="auth-label">Ngày sinh</div>
                        <input asp-for="Bday" placeholder='Ngày sinh' class="auth-input" />
                        <span asp-validation-for="Bday" class="text-danger"></span>
                    </div>
                    <div class="auth-input-wrapper">
                        <input asp-for="Tel" type="number" placeholder='Số điện thoại' class="auth-input" onwheel="this.blur()" />
                        <span asp-validation-for="Tel" class="text-danger"></span>
                    </div>
                    <div class="auth-input-wrapper">
                        <input asp-for="Username" placeholder='Tên đăng nhập' class="auth-input" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="auth-input-wrapper">                        
                        <input asp-for="Password" type="password" placeholder='Mật khẩu' class="auth-input" />
                        @await Html.PartialAsync("Components/_Eye")
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="auth-input-wrapper">
                        <input asp-for="PasswordConfirm" type="password" placeholder='Xác nhận mật khẩu' class="auth-input" />
                        @await Html.PartialAsync("Components/_Eye")
                        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                    </div>
                    <button class="auth-button card-btn">
                        Đăng ký
                    </button>
                </form>
            </div>
            <div class="auth-other-way">
                Bạn đã có tài khoản?
                <a href="/Auth/Login" class="auth-other-link">Đăng nhập</a>
            </div>
        </div>
    </div>
</div>