@model List<AdminMngTeacherCard>

@{
    Layout = "Layout/_AdminManageLayout"; // Sử dụng layout admin
}

@await Html.PartialAsync("_SuccessErrorMessage")

<div id="content" class="container-fluid">
    <div class="card">
        <div class="card-header font-weight-bold d-flex justify-content-between align-items-center">
            <div class="m-0 table-title">Danh sách giảng viên trong hệ thống</div>
            <div class="action-buttons">
                <button class="btn btn-primary" id="AddTchBtn" data-bs-toggle="modal"
                    data-bs-target="#AddTeacherModal">Thêm giảng viên mới</button>
            </div>
            <div id="pagination-form">
                <form method="GET" class="row row-cols-lg-auto g-3 align-items-center">
                <div class="col-12">
                    <input type="text" class="form-control" name="searchQuery" placeholder="Tìm kiếm" value="">
                </div>
                <div class="col-12">
                    <input type="submit" name="" class="btn btn-primary btn-search col-12" value="Tìm kiếm">
                </div>
                </form>
            </div>
        </div>

        <div class="pagination-list"></div>
    </div>
    <div id="pagination-bar"></div>
</div>

@await Html.PartialAsync("Popup/_TeacherAddPopup")
@await Html.PartialAsync("Popup/_EditTeacherPopup")
@await Html.PartialAsync("Popup/_CoursePopup")
@await Html.PartialAsync("Popup/_DeleteAccountPopup")

<style>
    .modal.show {
        backdrop-filter: blur(5px);
        background-color: rgba(0, 0, 0, 0.3);
    }

    .card-btn {
        white-space: nowrap;
        padding: 2px 4px;
        flex: 1;
        text-align: center;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        min-width: 80px;
        max-width: 105px;
        margin: 0 1px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<script>
    function reload() {
        document.querySelector('#pagination-bar .page-link.pa-active').click();
    }

    document.querySelector(`#AddTeacherModal`).addEventListener('hidden.bs.modal', reload);
    document.querySelector(`#TchCorModal`).addEventListener('hidden.bs.modal', reload);
    document.querySelector(`#EditTeacherModal`).addEventListener('hidden.bs.modal', reload);
    document.querySelector(`#DeleteAccountModal`).addEventListener('hidden.bs.modal', reload);

    const paginationInfo = { CurrentPage: 1, ItemsPerPage: 20 }
    initPagination(paginationInfo, "/AdminAPI/GetTeachers", ".pagination-list", {}, "#pagination-bar", "#pagination-form");

    document.querySelector(`#AddTchBtn`).addEventListener('click', function () {
        const getUrl = "/AdminAPI/GetTeacherAddForm";
        const placeholderSelector = `#add-teacher-form-container`;
        initPagination(null, getUrl, placeholderSelector);
    });
</script>