<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trung Tâm Tiên Tiến </title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Auth.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home/HomeContent.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home/TchList.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/REPO.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TRUNG TÂM TIÊN TIẾN</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Trang
                                chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">
                                Đăng kí môn học</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Thời
                                gian biểu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Lớp
                                học</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Gia
                                sư</a>
                        </li>
                    </ul>
                    <div class="navbar-nav flex user-link-wrapper">
                        @* <div class="nav-item">
                            <a href="/Auth/Login" class="nav-link text-dark">Đăng nhập</a>
                        </div>
                        <div class="nav-item">
                            <a href="/Auth/Login" class="nav-link text-dark">Đăng kí</a>
                        </div> *@
                        <div class="nav-item ">
                            <a id="user-info" class="text-dark user-link">
                                <div class="user-role">
                                    Học viên
                                </div>
                                <div class="user-name">
                                    Nguyễn Chí Bảo
                                </div>
                                <div class="user-icon down-arrow">
                                    <svg width="10" height="10" viewBox="0 0 13 12" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.5 12L12.9952 0.75H0.00480938L6.5 12Z" fill="#7F7F7F" />
                                    </svg>
                                </div>
                                <div class="noti-dropdown" id="user-dropdown" style="display:none">
                                    <div class="user-content-wrapper">
                                        <div class="user-item-list">
                                            <div class="user-item">
                                                <a class="user-item-title" href="">
                                                    Thông tin tài khoản
                                                </a>
                                            </div>
                                            <div class="logout-item ">
                                                <form action="" method="POST">
                                                    <button type='submit' class="user-item-title logout-button">
                                                        đăng xuất
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="footer">
        <div class="footer-content-wrapper container">
            <div class="footer-content-card about-us-wrapper">
                <div class="footer-content-card-title">
                    VỀ TRUNG TÂM TIÊN TIẾN
                </div>
                <div class="footer-content-card-content">
                    Trung tâm TIÊN TIẾN được thành lập vào năm 2025
                    với mục đích hỗ trợ học viên
                    có thể tìm kiếm gia sư mình muốn một cách
                    nhanh chóng, dễ dàng và hiệu quả. Chúng tôi luôn lắng nghe mọi nguyện vọng của gia sư và học viên,
                    dựa vào đó để tiến hành nâng cấp và cải thiện hệ thống nhằm tối ưu trải nghiệm của người dùng
                </div>

            </div>
            <div class="footer-content-card contact">
                <div class="footer-content-card-title">
                    LIÊN HỆ
                </div>
                <ul class="footer-content-card-contact">
                    <li class="footer-contact-wrapper">
                        <a href="" class="footer-contact-li">
                            <img class="footer-contact-icon"
                                src="https://down-vn.img.susercontent.com/file/2277b37437aa470fd1c71127c6ff8eb5" />
                            <span class="footer-contact-desc">Facebook</span>
                        </a>
                    </li>

                </ul>
            </div>

        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.getElementById("user-info").addEventListener("click", function () {
            let dropdown = document.getElementById("user-dropdown");
            if (dropdown.style.display === "block") {
                dropdown.style.display = "none";
            } else {
                dropdown.style.display = "block";
            }
        });

    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
