/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  font-weight: bold;
}
ul {
  padding: 0px !important;
}
a {
  color: #0077cc;
}
.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  /* transform: translateZ(0); */
}
.content-wrapper {
  margin-top: 5rem;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  background: #f5f5f5;
  color: rgba(0, 0, 0, 0.65);
  font-size: 1rem;
  padding: 0.25rem 0;
  border-top: 2px solid lightslategray;
  position: relative;
}
.about-us-wrapper {
  float: left;
  overflow: hidden;
  width: 32%;
  margin-right: 50px;
}
.footer-content-wrapper {
  width: 75rem;
  align-items: flex-start;
  display: flex;
  min-width: 1200px;
  padding: 0.3125rem;
}
.footer-content-card {
  box-sizing: border-box;
  width: 15.625rem;
  padding: 0.3125rem;
}
.footer-content-card-title {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
  margin-top: 1.5rem;
}
.footer-content-card-contact {
  color: rgba(0, 0, 0, 0.65);
  display: block;
  list-style-type: none;
  margin: 0 0 1rem;
  padding: 0;
  -webkit-text-decoration: none;
  text-decoration: none;
}
.footer-contact-wrapper {
  font-size: 1rem;
  margin-bottom: 0.75rem;
  align-content: center;
  display: flex;
}
.footer-contact-li {
  color: rgba(0, 0, 0, 0.65);
  overflow: hidden;
  -webkit-text-decoration: none;
  text-decoration: none;
  display: flex;
}
.footer-contact-icon {
  height: 1.25rem;
  margin-right: 0.5rem;
  width: 1.25rem;
  position: relative;
  top: 1.5px;
}
.footer-contact-desc {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.phone-number {
  color: #0061f2;
}
.footer-payment-wrapper {
  display: inline-block;

  margin: 0 25px 10px 0px;
}
.payment-icon {
  height: 39px;
  width: 100%;
}
.footer-content-card-payment {
  padding-left: 0px;
}
.about-us-wrapper {
  width: 46.875rem;
}
.user-link-wrapper {
  cursor: pointer;
  margin-right: 20px;
  user-select: none;
}
.nav-item {
  font-size: 16px;
}
.user-link {
  display: flex !important;
}
.user-role {
  margin-right: 4px;
}
.user-name {
  font-weight: bold;
  font-size: 16px;
  margin-right: 8px;
}
.down-arrow {
  width: 10px;
  position: relative;
  top: -2px;
}
.navbar {
  padding: 5px 0px;
  z-index: 1;
}
.navbar-link-wrapper {
  cursor: pointer;
  padding: 0rem 0.625rem;
  font-size: 1.125rem;
}
.navbar-link {
  color: #fff;
}
.noti-dropdown {
  position: relative;
  /* display: none ; */
}
.user-content-wrapper {
  background-color: white;
  outline: none;
  z-index: 2202;
  position: absolute;
  font-size: 14px;
  width: 200px; /* Fixed width instead of 100% */
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  top: 10px;
  right: 0; /* Align to the right */
  /* display: none; */
}
.user-item,
.logout-button {
  text-transform: capitalize;
  position: relative;
  padding: 8px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  width: 100%;
}
.user-item-title {
  color: #000000;
}
.logout-button {
  border: 0;
  width: 100%;
  text-transform: capitalize;
  background: inherit;
}
#header_menu[data-v-4133fbdc] {
  background: #0c78da none repeat scroll 0 0;
  position: relative;
  top: 0 !important;
  width: 100%;
  z-index: 2;
  /* position: fixed; */
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.row1 {
  display: flex;
  flex-wrap: wrap;
}
#fieldmegamenu-main ul[data-v-4133fbdc] {
  display: block;
  position: relative;
  clear: both;
  margin: 0;
}
#fieldmegamenu-main ul li[data-v-4133fbdc] {
  display: inline-block;
  font-size: 14px;
  text-align: left;
  text-transform: uppercase;
  position: relative;
}
#fieldmegamenu-main ul li a[data-v-4133fbdc] {
  display: block;
  padding: 0 15px;
  line-height: 45px;
  color: #fff;
}
.active {
  background-color: #20bcf0;
}
#fieldmegamenu-main ul li a i[data-v-4133fbdc] {
  font-size: 18px;
  margin-right: 5px;
}
