@{
    Layout = "_Layout"; // Kế thừa từ layout chính
}

<div id="page-body" class="d-flex">
<div id="sidebar" class="bg-white">
    <ul id="sidebar-menu">
        <li class="nav-link">
            <div class="sidebar-link-title">
                <div class="nav-link-icon d-inline-flex">
                    <i class="far fa-folder"></i>
                </div>
                Bảng Điều Khiển
            </div>
            <i class="arrow fas fa-angle-down"></i>
            <ul class="sub-menu" style="display: block;">
                <li class="">
                    <a href="http://localhost/cbmart/admin">trang chủ</a>
                </li>
            </ul>
        </li>
        <li class="nav-link">
            <div class="sidebar-link-title">
                <div class="nav-link-icon d-inline-flex">
                    <i class="far fa-folder"></i>
                </div>
                Trang
            </div>
            <i class="arrow fas fa-angle-down"></i>
            <ul class="sub-menu" style="display: block;">
                <li class="">
                    <a href="http://localhost/cbmart/admin/page/add">thêm mới</a>
                </li>
            </ul>
        </li>
        <li class="nav-link">
            <div class="sidebar-link-title">
                <div class="nav-link-icon d-inline-flex">
                    <i class="far fa-folder"></i>
                </div>
                Danh mục
            </div>
            <i class="arrow fas fa-angle-down"></i>
            <ul class="sub-menu" style="display: block;">
                <li class="">
                    <a href="http://localhost/cbmart/admin/category/add">thêm mới</a>
                </li>
            </ul>
        </li>
        <li class="nav-link">
            <div class="sidebar-link-title">
                <div class="nav-link-icon d-inline-flex">
                    <i class="far fa-folder"></i>
                </div>
                Managers
            </div>
            <i class="arrow fas fa-angle-down"></i>
            <ul class="sub-menu" style="display: block;">
                <li class="">
                    <a href="http://localhost/cbmart/admin/manager/add">thêm mới</a>
                </li>
                <li class="active">
                    <a href="http://localhost/cbmart/admin/manager/list">danh sách</a>
                </li>
            </ul>
        </li>
        <li class="nav-link">
            <div class="sidebar-link-title">
                <div class="nav-link-icon d-inline-flex">
                    <i class="far fa-folder"></i>
                </div>
                Users
            </div>
            <i class="arrow fas fa-angle-down"></i>
            <ul class="sub-menu" style="display: block;">
                <li class="">
                    <a href="http://localhost/cbmart/admin/user/add">thêm mới</a>
                </li>
                <li class="">
                    <a href="http://localhost/cbmart/admin/user/list">danh sách</a>
                </li>
            </ul>
        </li>
        <li class="nav-link">
            <div class="sidebar-link-title">
                <div class="nav-link-icon d-inline-flex">
                    <i class="far fa-folder"></i>
                </div>
                Phân Quyền
            </div>
            <i class="arrow fas fa-angle-down"></i>
            <ul class="sub-menu" style="display: block;">
                <li class="">
                    <a href="http://localhost/cbmart/admin/permission/add">quyền</a>
                </li>
                <li class="">
                    <a href="http://localhost/cbmart/admin/role/add">thêm vai trò</a>
                </li>
                <li class="">
                    <a href="http://localhost/cbmart/admin/role/list">danh sách vai trò</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div id="wp-content">
      <div class="container-fluid">
      @RenderBody()
      </div>
</div>
</div>
@section Scripts {
    <!-- Scripts riêng cho admin -->
    @RenderSection("AdminScripts", required: false)
}