@model int

<nav aria-label="pagination-wrapper">
                <ul class="pagination">
                    <li class="page-item ">
                        <a class='page-link ' href="">
                            <<
                        </a>
                    </li>
                    @{
                        var left=Model-2;
                        var right=Model+2;
                        if (left<1){
                            left=1;
                        }
                        if (right>ViewBag.maxIndexPage){
                            right=ViewBag.maxIndexPage;
                        }
                    }
                    @for (int i = left; i <=  right; i++)
                    {
                        <li class="page-item ">
                            <a class="page-link @(i == Model ? "pa-active" : "")" href="?page=@i">
                                @i
                            </a>
                        </li>
                    }
                     <li class="page-item ">
                        <a class='page-link ' href="">
                            >>
                        </a>
                    </li>
                </ul>
            </nav>