<div class="card-product-li card-qr">
    <div class="card-product-li-content teacher-card">
        <div class="card-sem-detail-wrapper">
                <div class="card-sem-title">Mã QR thanh toán</div>
            </div>
        <div class="qr-card-main-content">
                <img class="qr-img" src="/images/payment/qr.png">
        </div>
    </div>
</div>
