<div class="product-des-content-wrapper">
  <div class="product-rating-wrapper">
    <div class="rating-summary">
      <div class="rating-score">
        <span class="score-avg">4.5</span>
        <span class="score-max">/5</span>
      </div>
      <div class="reply-rating-star-icon-list">
        <div class="card-product-rating-star">
          @await Html.PartialAsync("_Rating5StarIcon", new { FillPercentage = 100, Size = "1.75rem", MarginRight = "4px" })
          @await Html.PartialAsync("_Rating5StarIcon", new { FillPercentage = 100, Size = "1.75rem", MarginRight = "4px" })
          @await Html.PartialAsync("_Rating5StarIcon", new { FillPercentage = 100, Size = "1.75rem", MarginRight = "4px" })
          @await Html.PartialAsync("_Rating5StarIcon", new { FillPercentage = 100, Size = "1.75rem", MarginRight = "4px" })
          @await Html.PartialAsync("_Rating5StarIcon", new { FillPercentage = 50, Size = "1.75rem", MarginRight = "4px" })
        </div>
      </div>
      <div class="rating-count">50 Lượt đánh giá</div>
    </div>
    <div class="rating-detail">
      <ul class="rating-star-list">
        <li class="rating-star">
          <div class="rating-star-wrapper">
            <div class="card-product-rating-star">
              @await Html.PartialAsync("_Rating5StarIcon", new { FillPercentage = 100, Size = "1rem" })
              @await Html.PartialAsync("_Rating5StarIcon", new { FillPercentage = 100, Size = "1rem" })
              @await Html.PartialAsync("_Rating5StarIcon", new { FillPercentage = 100, Size = "1rem" })
              @await Html.PartialAsync("_Rating5StarIcon", new { FillPercentage = 100, Size = "1rem" })
              @await Html.PartialAsync("_Rating5StarIcon", new { FillPercentage = 100, Size = "1rem" })
            </div>
          </div>
          <div class="progress-bar-wrapper">
            <div class="review-progress-wrapper">
              <div class="review-progress"></div>
              <div class="review-progress review-progress-fill" style="width: 70%;"></div>
            </div>
          </div>
          <div class="review-star-rating-count">70</div>
        </li>
        <li class="rating-star">
          <div class="rating-star-wrapper">
            <div class="card-product-rating-star">
              @await Html.PartialAsync("_Rating5StarIcon", new { FillPercentage = 100, Size = "1rem" })
              @await Html.PartialAsync("_Rating5StarIcon", new { FillPercentage = 100, Size = "1rem" })
              @await Html.PartialAsync("_Rating5StarIcon", new { FillPercentage = 100, Size = "1rem" })
              @await Html.PartialAsync("_Rating5StarIcon", new { FillPercentage = 100, Size = "1rem" })
              @await Html.PartialAsync("_Rating5StarIcon", new { FillPercentage = 0, Size = "1rem" })
            </div>
          </div>
          <div class="progress-bar-wrapper">
            <div class="review-progress-wrapper">
              <div class="review-progress"></div>
              <div class="review-progress review-progress-fill" style="width: 15%;"></div>
            </div>
          </div>
          <div class="review-star-rating-count">15</div>
        </li>
        <li class="rating-star">
          <div class="rating-star-wrapper">
            <div class="card-product-rating-star">
              @await Html.PartialAsync("_Rating5StarIcon", new { FillPercentage = 100, Size = "1rem" })
              @await Html.PartialAsync("_Rating5StarIcon", new { FillPercentage = 100, Size = "1rem" })
              @await Html.PartialAsync("_Rating5StarIcon", new { FillPercentage = 100, Size = "1rem" })
              @await Html.PartialAsync("_Rating5StarIcon", new { FillPercentage = 0, Size = "1rem" })
              @await Html.PartialAsync("_Rating5StarIcon", new { FillPercentage = 0, Size = "1rem" })
            </div>
          </div>
          <div class="progress-bar-wrapper">
            <div class="review-progress-wrapper">
              <div class="review-progress"></div>
              <div class="review-progress review-progress-fill" style="width: 10%;"></div>
            </div>
          </div>
          <div class="review-star-rating-count">10</div>
        </li>
        <li class="rating-star">
          <div class="rating-star-wrapper">
            <div class="card-product-rating-star">
              @await Html.PartialAsync("_Rating5StarIcon", new { FillPercentage = 100, Size = "1rem" })
              @await Html.PartialAsync("_Rating5StarIcon", new { FillPercentage = 100, Size = "1rem" })
              @await Html.PartialAsync("_Rating5StarIcon", new { FillPercentage = 0, Size = "1rem" })
              @await Html.PartialAsync("_Rating5StarIcon", new { FillPercentage = 0, Size = "1rem" })
              @await Html.PartialAsync("_Rating5StarIcon", new { FillPercentage = 0, Size = "1rem" })
            </div>
          </div>
          <div class="progress-bar-wrapper">
            <div class="review-progress-wrapper">
              <div class="review-progress"></div>
              <div class="review-progress review-progress-fill" style="width: 0%;"></div>
            </div>
          </div>
          <div class="review-star-rating-count">0</div>
        </li>
        <li class="rating-star">
          <div class="rating-star-wrapper">
            <div class="card-product-rating-star">
              @await Html.PartialAsync("_Rating5StarIcon", new { FillPercentage = 100, Size = "1rem" })
              @await Html.PartialAsync("_Rating5StarIcon", new { FillPercentage = 0, Size = "1rem" })
              @await Html.PartialAsync("_Rating5StarIcon", new { FillPercentage = 0, Size = "1rem" })
              @await Html.PartialAsync("_Rating5StarIcon", new { FillPercentage = 0, Size = "1rem" })
              @await Html.PartialAsync("_Rating5StarIcon", new { FillPercentage = 0, Size = "1rem" })
            </div>
          </div>
          <div class="progress-bar-wrapper">
            <div class="review-progress-wrapper">
              <div class="review-progress"></div>
              <div class="review-progress review-progress-fill" style="width: 5%;"></div>
            </div>
          </div>
          <div class="review-star-rating-count">5</div>
        </li>
      </ul>
    </div>
    <div class="rating-choose-star-wrapper">
      <div class="reply-button-title">Xem Danh Sách Các Đánh Giá :</div>
      <div class="reply-choose-star-button-wrapper">
        <div class="rating-choose-star rating-choose-star-active">Tất cả</div>
        <div class="rating-choose-star">5 Sao</div>
        <div class="rating-choose-star">4 Sao</div>
        <div class="rating-choose-star">3 Sao</div>
        <div class="rating-choose-star">2 Sao</div>
        <div class="rating-choose-star">1 Sao</div>
      </div>
    </div>
  </div>
</div>