
<div class="card-product-rating-star">
  @await Html.PartialAsync("_Rating5StarIcon")
  @await Html.PartialAsync("_Rating5StarIcon")
  @await Html.PartialAsync("_Rating5StarIcon")
  @await Html.PartialAsync("_Rating5StarIcon")
  @await Html.PartialAsync("_Rating5StarIcon")
</div>