<form action="">
<select class=" input cb" id="comboBox" name="comboBox">
        <option value="0">Môn học</option>
        <option value="1">Toán học</option>
        <option value="2">Văn học</option>
    </select>
    <select class=" input cb" id="comboBox" name="comboBox">
        <option value="0">Lớp</option>
        <option value="1">6</option>
        <option value="2">7</option>
    </select>
    <select class=" input cb" id="comboBox" name="comboBox">
        <option value="0">Gia sư</option>
        <option value="1">Gia sư Nam</option>
        <option value="2">Gia sư Nữ</option>
    </select>
    <input class="input" type="text" id="inputText" name="inputText" placeholder="Nhập tên khóa học" required>
    <button type="submit" class="submit-form-btn">Tìm kiếm</button>
</form>