<form action="">
    <select class=" input cb" id="comboBox" name="subject">
        <option value="0">Chọn môn</option>
        <option value="1">Toán </option>
        <option value="2">Văn</option>
    </select>
    <select class=" input cb" id="comboBox" name="class">
        <option value="0">Chọn lớp</option>
        <option value="1">6</option>
        <option value="2">7</option>
    </select>
    <select class=" input cb" asp-for="Gender">
        <option value="">Gia sư</option>
        <option value="@Gender.male">Gia sư Nam</option>
        <option value="@Gender.female">Gia sư Nữ</option>
    </select>
    <input class="input" type="text" asp-for="Name" placeholder="Nhập tên hoặc mã gia sư">
    <button type="submit" class="submit-form-btn">Tìm kiếm</button>
</form>