<form action="">
    <select class=" input cb" id="comboBox" name="comboBox">
        <option value="0">Giới tính</option>
        <option value="1">Nam</option>
        <option value="2">Nữ</option>
    </select>
    <input class="input" type="text" id="inputText" name="inputText" placeholder="Nhập tên hoặc mã gia sư" required>
    <button type="submit" class="submit-form-btn">Tìm kiếm</button>
</form>