@model BriefTeacherFilter

<form>
    <select class=" input cb" asp-for="Gender">
        <option value="">Gia sư</option>
        <option value="@Gender.male">Gia sư Nam</option>
        <option value="@Gender.female">Gia sư Nữ</option>
    </select>
    <input class="input" type="text" asp-for="Name" placeholder="Nhập tên hoặc mã gia sư">
    <button type="submit" class="submit-form-btn">Tìm kiếm</button>
</form>