<form action="">
    <select class=" input cb" id="comboBox" name="comboBox">
        <option value="option1">Tìm kiếm theo</option>
        <option value="option1">ID</option>
        <option value="option2">Họ và tên</option>
        <option value="option3">Khu vực</option>
    </select>
    <input class="input" type="text" id="inputText" name="inputText" placeholder="Nhập thông tin" required>
    <button type="submit" class="submit-form-btn">Tìm kiếm</button>
</form>