<form action="">
    <select class=" input cb" id="comboBox" name="subject">
        <option value="0">Chọn môn</option>
        <option value="1">Toán </option>
        <option value="2">Văn</option>
    </select>
    <select class=" input cb" id="comboBox" name="class">
        <option value="0">Chọn lớp</option>
        <option value="1">6</option>
        <option value="2">7</option>
    </select>
    <select class=" input cb" id="comboBox" name="Gender">
        <option value="0">Giới tính</option>
        <option value="1">Nam</option>
        <option value="2">Nữ</option>
    </select>
    <input class="input" type="text" id="inputText" name="inputText" placeholder="Nhập tên hoặc mã gia sư" required>
    <button type="submit" class="submit-form-btn">Tìm kiếm</button>
</form>