
    <div class="card-product-li sem-li sem-detail">
        <div class="card-sem-li-content">
            <div class="card-sem-detail-wrapper">
                <div class="card-sem-title">Khóa học vận dụng - vận dụng cao toán 12</div>
            </div>
            <div class="card-sem-desc">
                <div class="card-content">
                    <div class="card-sem-item">
                        <div class="card-sem-item-label">
                            Gia sư:
                        </div>
                        <div class="card-sem-item-content">
                            Nguyễn Chí Bảo
                        </div>
                    </div>
                    <div class="card-sem-item">
                        <div class="card-sem-item-label">
                            Môn học:
                        </div>
                        <div class="card-sem-item-content">
                            Toán
                        </div>
                    </div>
                    <div class="card-sem-item">
                        <div class="card-sem-item-label">
                            Lớp:
                        </div>
                        <div class="card-sem-item-content">
                            12
                        </div>
                    </div>
                    <div class="card-sem-item">
                        <div class="card-sem-item-label">
                            Thời gian:
                        </div>
                        <div class="card-sem-item-content">
                            1/4/2021 - 1/5/2021
                        </div>
                    </div>
                    <div class="card-sem-item">
                        <div class="card-sem-item-label">
                            Sĩ số:
                        </div>
                        <div class="card-sem-item-content">
                            34/50
                        </div>
                    </div>
                    <div class="card-sem-item">
                        <div class="card-sem-item-label">
                            Đánh giá:
                        </div>
                        <div class="card-sem-item-content">
                            4.5/5 (100 lượt đánh giá)
                        </div>
                    </div>
                    <div class="card-sem-item">
                        <div class="card-sem-item-label">
                            Học phí:
                        </div>
                        <div class="card-sem-item-content">
                           <div class="sem-price">2.000.000</div> 
                            <span class="currency">đ</span>
                        </div>
                    </div>
                </div>
                <div class="card-sem-description-wrapper">
                    <div class="card-sem-item">
                        <div class="card-sem-item-label des-label">
                            Mô tả:
                        </div>
                        <div class="card-sem-des-content">
                            <div>- Giúp bạn out trình mấy con gà không đi học thêm</div>
                            <div>- Không sợ out meta, top 1 tri thức hệ toán</div>
                            <div>- VDC không còn khó, đại học Vinh chỉ còn là cái tên</div>
                            <div>- Giúp bạn out trình mấy con gà không đi học thêm</div>
                            <div>- Không sợ out meta, top 1 tri thức hệ toán</div>
                            <div>- VDC không còn khó, đại học Vinh chỉ còn là cái tên</div>
                            <div>- Giúp bạn out trình mấy con gà không đi học thêm</div>
                            <div>- Không sợ out meta, top 1 tri thức hệ toán</div>
                            <div>- VDC không còn khó, đại học Vinh chỉ còn là cái tên</div>
                            <div>- Giúp bạn out trình mấy con gà không đi học thêm</div>
                            <div>- Không sợ out meta, top 1 tri thức hệ toán</div>
                            <div>- VDC không còn khó, đại học Vinh chỉ còn là cái tên</div>
                            <div>- Giúp bạn out trình mấy con gà không đi học thêm</div>
                            <div>- Không sợ out meta, top 1 tri thức hệ toán</div>
                            <div>- VDC không còn khó, đại học Vinh chỉ còn là cái tên</div>
                            <div>- Giúp bạn out trình mấy con gà không đi học thêm</div>
                            <div>- Không sợ out meta, top 1 tri thức hệ toán</div>
                            <div>- VDC không còn khó, đại học Vinh chỉ còn là cái tên</div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-group-wrapper sem-btn-group sem-detail-btn-group">
                <button class="card-btn choose">Đăng kí khóa học</button>
            </div>
        </div>
    </div>
