@model List<Dictionary<string, string>>

@for (int i = 0; i < 8; i++)
{
    <div class="card-product-li sem-li">
        <div class="card-sem-li-content">
            <div class="card-product-img-wrapper">
                <div class="card-sem-title">Khóa học vận dụng - vận dụng cao toán 12</div>
            </div>
            <div class="card-sem-desc">
                <div class="card-content">
                    <div class="card-sem-item">
                        <div class="card-sem-item-label">
                            Gia sư:
                        </div>
                        <div class="card-sem-item-content">
                            Nguyễn Chí Bảo
                        </div>
                    </div>
                    <div class="card-sem-item">
                        <div class="card-sem-item-label">
                            Môn học:
                        </div>
                        <div class="card-sem-item-content">
                            Toán
                        </div>
                    </div>
                    <div class="card-sem-item">
                        <div class="card-sem-item-label">
                            Lớp:
                        </div>
                        <div class="card-sem-item-content">
                            12
                        </div>
                    </div>
                    <div class="card-sem-item">
                        <div class="card-sem-item-label">
                            Thời gian:
                        </div>
                        <div class="card-sem-item-content">
                            1/4/2021 - 1/5/2021
                        </div>
                    </div>
                    <div class="card-sem-item">
                        <div class="card-sem-item-label">
                            Sĩ số:
                        </div>
                        <div class="card-sem-item-content">
                            34/50
                        </div>
                    </div>
                    <div class="card-sem-item">
                        <div class="card-sem-item-label">
                            Đánh giá:
                        </div>
                        <div class="card-sem-item-content">
                            4.5/5 (100 lượt đánh giá)
                        </div>
                    </div>
                    <div class="card-sem-item">
                        <div class="card-sem-item-label">
                            Học phí:
                        </div>
                        <div class="card-sem-item-content">
                           <div class="sem-price">2.000.000</div> 
                            <span class="currency">đ</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-group-wrapper sem-btn-group">
                <button class="card-btn course-detail" onclick="window.location.href='/Course/Detail'">Xem chi tiết</button>
                <button class="card-btn choose">Đăng kí khóa học</button>
            </div>
        </div>
    </div>
}