@model BriefTeacherCard
   <div class="card-product-li">
        <div class="card-product-li-content teacher-card">
            <div class="thumb" style="width:110px; height:128px !important; max-height:130px !important;">
        <img src="http://localhost:5022/images/thumbnail/thumbnail.jpg" style="width:100%; height:128px;">
    </div>
    <div style="line-height:150% !important; font-size:14px;">
        <div class="teacher-card-field"><strong>Mã số:</strong> @Model.id</div>
        <div class="teacher-card-field"><strong>Tên gia sư:</strong> 
            <strong style="color:#008eff;">
                <a href="/gia-su-2918.html">@Model.name</a>
            </strong>
        </div>
        <div class="teacher-card-field"><strong>Giới tính:</strong> @Model.gender</div>
        <div class="teacher-card-field"><strong>Ngày sinh:</strong> @Model.bday</div>
        <div class="teacher-card-field"><strong>Nhận dạy:</strong> Lớp 6, Lớp 7, Lớp 8, Lớp 10, Lớp 12</div>
        <div class="teacher-card-field"><strong>Các môn:</strong> Toán, Lý, Hóa</div>
        <div class="teacher-card-field"><strong>Mô tả:</strong> Có kinh nghiệm dạy kèm</div>
    </div>
            <div class="button-group-wrapper teacher-btn-group">
                <button class="card-btn tch-detail" onclick="window.location.href='/Teacher/Profile'" >Xem chi tiết</button>
                <!-- <button class="card-btn choose">Chọn gia sư</button> -->
            </div>
        </div>
    </div>
