@model List<ManageCourseCard>

<div class="card-body"></div>
<table class="table table-striped table-checkall">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tên khóa học</th>
            <th scope="col">Đánh giá</th>
            <th scope="col">Tình trạng</th>
            <th scope="col">Môn học</th>
            <th scope="col">Lớp</th>
            <th scope="col">Tác vụ</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var card in Model)
        {
            @await Html.PartialAsync(PartialCard.ManageCourseCard, (object)card)
        }
    </tbody>
</table>
</div>