<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trung Tâm Tiên Tiến </title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Auth.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Rating.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Table.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/_ManageLayout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home/HomeContent.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home/TchList.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Course/Manage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/REPO.styles.css" asp-append-version="true" />
</head>

<body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Ajax.js" asp-append-version="true"></script>
    <script src="~/js/pagination.js" asp-append-version="true"></script>
    @await Html.PartialAsync("Components/_AdminHeader")
    <div class="admin-content-wrapper">
        <main role="main" class="pb-3">
            <div class="clearfix">
                @RenderBody()
            </div>
        </main>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
