<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trung Tâm Tiên Tiến </title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Auth.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Rating.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Table.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/_ManageLayout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home/HomeContent.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home/TchList.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Course/Manage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/REPO.styles.css" asp-append-version="true" />
</head>

<body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/pagination.js" asp-append-version="true"></script>
    @await Html.PartialAsync("Components/_AdminHeader")
    <div class="admin-content-wrapper">
            <main role="main" class="pb-3 ">
            <div class="clearfix">
                @RenderBody()
            <div>    
            </main>
    </div>
    <script>
        let userInfo = document.getElementById("user-info");
        if (userInfo) 
        {
                userInfo.addEventListener("click", function () {
                let dropdown = document.getElementById("user-dropdown");
                dropdown.style.display = dropdown.style.display === "block" ? "none" : "block";      
            });
        }
        document.addEventListener("DOMContentLoaded", function () {
        const eyeIconWrapper = document.querySelector(".eye-icon-wrapper");
        const eyeClose = document.querySelector(".eye-close");
        const eyeOpen = document.querySelector(".eye-open");
        const passwordInput = document.querySelector("input[name='password']");
        eyeOpen.style.display = "none"; // Ẩn icon mở mắt mặc định

    eyeIconWrapper.addEventListener("click", function () {
        if (eyeClose.style.display === "none") {
            eyeClose.style.display = "block";
            eyeOpen.style.display = "none";
            passwordInput.type = "password";
        } else {
            eyeClose.style.display = "none";
            eyeOpen.style.display = "block";
            passwordInput.type = "text";
        }
    });
});

    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
