@{
    Layout = "_NoFooterLayout";
}

<div id="page-body" class="d-flex">
<div id="sidebar" class="bg-white">
    @await RenderSectionAsync("Sidebar", required: false)
</div>
<div id="wp-content">
    <div class="container-fluid padding-container-fluid">
        @RenderBody()
    </div>
</div>
</div>

@section Scripts {
    @await RenderSectionAsync("ManageLayoutScripts", required: false)
}