.card-product-ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.card-product-li{
  background: #fff;
  height: 371px;
  margin-bottom: 20px;
  margin-right: 12px;
  min-height: 189px;
  width: 24%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.card-product-li:hover{
  border: 1px solid red !important;
  border-color: rgba(238,77,45,1);
  transform: translate(0px,-1px) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
  z-index: 1;
  transition-duration: .1s;
  transition-timing-function: cubic-bezier(.4,0,.6,1);
  border-width: 1px;
}
.card-product-img-wrapper{
  height: 100px;
  display: inline-flex;
  overflow:hidden;
}
.card-product-img{
  width:100%
}
.card-product-desc{
  overflow: hidden;
  /* height: 198px; */
  background: #fff;
  padding: 8px 8px 12px 30px;
}
.card-item{
  display: flex;
  color: black;
  margin-bottom: 2px;
}
.button-group-wrapper{
  padding-left: 30px;
  display: flex;
}
.card-item-label{
  min-height: 100%;
  width: 100px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}
.card-item-content{
  display: inline-block;
  width: 140px;
  text-align: left;
}
.card-product-li-content{
  padding:20px;
}
.card-btn{
  padding: 1px 8px;
  background-color:#CAEEFB;
  border-color:#318DB2; 
  margin-right: 10px;
}
.choose{
  background-color: #F6C6AD;
  border-color:red; 
}
.card-product-name{
  color: #212121;
  font-size: 14px;
  height: 36px;
  line-height: 18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-Product-rating-number{
  /* color: #9e9e9e !important; */
  font-size: 14px;
}

.product-load-more-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
}
.product-load-more-button{
  border: 1px solid #1a9cb8;
  color: #1a9cb8;
  cursor: pointer;
  display: block;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  width: 387px;
}
.card-product-rating-wrapper{
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
  position: relative;
}
.card-product-rating{
  /* flex-direction: row; */
  display: flex;
}
.shop-section-wrapper{
  padding: 10px 0px 0px 0px;
}
.shop-section-header{
  background: 0 0;
  height: 38px;
  line-height: 38px;
  margin-bottom: 7px;
}
.shop-section-title{
  color: #424242;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  text-transform: uppercase;;
}
.pagination{
  display: flex;
  justify-content: center;
  padding-top: 5px;
}
.dot{
  width: 52px !important;
  color:hsl(216, 98%, 52%);
  font-size:20px !important;
  border: none !important;
  background-color: inherit;
  padding-top:5px ;
 }
.page-link{
  margin: 0 4px;
  width: 40px;
  text-align: center;
  display: inline-block;
  border-radius: 50% !important;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid #B5B0B0;
  background-color: inherit;
  /* background-color: inherit;
  border: none;
  padding: 1px 15px !important;
  font-size: inherit; */
  /* font-weight: bold; */
}
.page-link:hover{
  /* background-color: inherit; */
  border: 1px solid #B5B0B0;
}

.pa-active{
  background-color:hsl(216, 98%, 52%)!important;
  color:white;
}
.pa-active:hover{
  color:white;
}
.card-content{
  height: 180px;
  overflow: hidden;
}
.card-search-wrapper{
  display: flex;
  
}