/* Thu nhỏ thanh scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Chiều rộng dọc */
  height: 6px; /* Chiều cao ngang */
}

/* Tùy chỉnh phần track của scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Tùy chỉnh phần thumb của scrollbar */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.card-product-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.card-product-li {
  background: #fff;
  height: 350px;
  margin-bottom: 20px;
  margin-right: 12px;
  width: 24%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.card-product-li:hover {
  border: 1px solid red !important;
  border-color: rgba(238, 77, 45, 1);
  transform: translate(0px, -1px) rotate(0) skewX(0) skewY(0) scaleX(1)
    scaleY(1);
  z-index: 1;
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
  border-width: 1px;
}

.card-product-img-wrapper {
  display: inline-flex;
  overflow: hidden;
}

.card-product-img {
  width: 100%;
  height: 80px;
}

.card-product-desc {
  overflow: hidden;
  /* height: 198px; */
  background: #fff;
  padding: 8px 8px 10px 10px;
}

.card-item {
  display: flex;
  color: black;
  margin-bottom: 2px;
}

.button-group-wrapper {
  display: flex;
}
.teacher-card {
  padding: 15px !important;
  display: flex;
  flex-direction: column;
}
.teacher-btn-group {
  justify-content: center;
}
.teacher-card-field {
  text-align: left !important ;
}
.card-item-label {
  min-height: 100%;
  width: 100px;
  display: inline;
  text-align: right;
  margin-right: 10px;
}

.card-item-content {
  display: inline-block;
  width: 140px;
  text-align: left;
}

.card-product-li-content {
  padding: 20px;
}

.card-btn {
  padding: 1px 8px;
  background-color: #caeefb;
  border-color: #318db2;
}

.choose {
  background-color: #f6c6ad;
  border-color: red;
}

.card-product-name {
  color: #212121;
  font-size: 14px;
  height: 36px;
  line-height: 18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-Product-rating-number {
  /* color: #9e9e9e !important; */
  font-size: 14px;
}

.product-load-more-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
}

.product-load-more-button {
  border: 1px solid #1a9cb8;
  color: #1a9cb8;
  cursor: pointer;
  display: block;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  width: 387px;
}

.card-product-rating-wrapper {
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
  position: relative;
}

.card-product-rating {
  /* flex-direction: row; */
  display: flex;
}

.shop-section-wrapper {
  padding: 10px 0px 0px 0px;
}

.shop-section-header {
  background: 0 0;
  height: 38px;
  line-height: 38px;
  margin-bottom: 7px;
}

.shop-section-title {
  margin: 0px 0px;
  color: #424242;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  text-transform: uppercase;
}

.pagination {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

.dot {
  color: hsl(216, 98%, 52%);
  font-size: 20px !important;
  border: none !important;
  background-color: inherit;
  padding-top: 5px;
  margin-right: 5px;
}

.page-link {
  margin: 0 4px;
  width: 40px;
  text-align: center;
  display: inline-block;
  border-radius: 50% !important;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid #b5b0b0;
  background-color: inherit;
  /* background-color: inherit;
  border: none;
  padding: 1px 15px !important;
  font-size: inherit; */
  /* font-weight: bold; */
}

.page-link:hover {
  /* background-color: inherit; */
  border: 1px solid #b5b0b0;
}

.pa-active {
  background-color: hsl(216, 98%, 52%) !important;
  color: white;
}

.pa-active:hover {
  color: white;
}

.card-content {
  height: 180px;
  overflow: hidden;
  margin-right: 10px;
}

.card-search-wrapper {
  display: flex;
  height: 30px;
  margin-bottom: 20px;
}

.cb {
  margin-bottom: 5px;
  width: 130px;
  background-image: none;
}

.input {
  font-size: 14px;
  padding: 6px 6px !important;
  margin-right: 8px;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555;
}

.submit-form-btn {
  height: 100%;
  background-color: #09f;
  color: white;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 0px 10px;
  text-align: center;
  /* font-size: 12px; */
}

.card-sem-li-content {
  padding: 10px;
}

.card-sem-title {
  padding-left: 5px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  height: 44px;
  color: #2970b8;
}

.card-sem-item-label {
  min-height: 100%;
  width: 100px;
  display: inline-block;
  text-align: left;
  padding-left: 20px;
}

.card-sem-item {
  display: flex;
  color: black;
  margin-bottom: 5px;
}
.card-sem-desc {
  padding-bottom: 10px;
  display: flex;
}
.sem-li {
  height: 290px;
}
.sem-btn-group {
  padding-left: 20px;
}
.sem-price {
  color: red;
  font-weight: bold;
  display: inline-block;
}
.currency {
  position: relative;
  left: -2px;
}
.block_image_news {
  width: 100%;
  float: left;
  background-color: white;
  padding: 15px 15px 0px 15px;
}
.thumb {
  float: left;
  margin: 0 10px 0 0;
  position: relative;
  height: 130px !important;
  max-height: 130px !important;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.tch-detail {
  width: 60%;
}
.course-detail {
  margin-right: 12px;
}
.card-sem-description-wrapper {
  flex-grow: 1;
}
.sem-detail {
  width: 70%;
}
.card-sem-detail-wrapper {
  text-align: left;
  height: 32px;
}
.des-label {
  width: 65px;
}
.card-sem-des-content {
  text-align: left;

  overflow: auto;
  flex-grow: 1;
}
.sem-detail-des {
  height: 186px !important;
}
.sem-detail-btn-group {
  justify-content: flex-end;
  margin-top: 5px;
  margin-right: 15px;
}
.teacher-down {
  margin-bottom: 12px;
}
.teacher-card-desc {
  width: 100%;
  margin-bottom: 10px;
}
.teacher-card-main-content {
  height: 117px;
}
