@{
    Layout = "_ManageLayout";
}

<div class="pt-add-content-wrapper">
    <div class="pt-add-content ">
        <div class="pt-add-title">Thông tin tài khoản</div>
        <div class="pt-add-form">
            <form action="add_course" id="pt-add" method="POST">
                <div class="pt-add-form-item">
                    <div class="pt-add-label">
                        <label for="">
                            Mã số
                        </label>
                    </div>
                    <div class="pt-add-input-wrapper user-id-wrapper">
                        <div class="user-profile-text">
                            @ViewBag.userId
                        </div>
                    </div>
                </div>
                <div class="pt-add-form-item">
                    <div class="pt-add-label">
                        <label for="">
                            Tên đăng nhập
                        </label>
                    </div>
                    <div class="pt-add-input-wrapper">
                        <div class="user-profile-text">
                            @ViewBag.userName
                        </div>
                    </div>
                </div>
                <div class="pt-add-form-item">
                    <div class="pt-add-label">
                        <label for="">
                            Vai trò
                        </label>
                    </div>
                    <div class="pt-add-input-wrapper">
                        <div class="user-profile-text">
                            @(ViewBag.userRole switch
                            {
                                UserRole.Student => "Học viên",
                                UserRole.Teacher => "Gia sư",
                                UserRole.Admin => "Quản trị viên",
                                _ => ""
                            })
                        </div>
                    </div>
                </div>
                <div class="user-action-buttons">
                    <a href="/User/ChangePassword" class="auth-button card-btn">Đổi mật khẩu</a>
                </div>
            </form>
        </div>
    </div>
</div>
