@{
    Layout = "_ManageLayout";
}

<div class="pt-add-content-wrapper">
    <div class="pt-add-content ">
        <div class="pt-add-title">Thông tin tài khoản</div>
        <div class="pt-add-form">
            <form action="add_course" id="pt-add" method="POST">
                <div class="pt-add-form-item pt-add-form-text">
                    <div class="pt-add-label">
                        <label for="">
                            Mã số
                        </label>
                    </div>
                    <div class="pt-add-input-wrapper user-id-wrapper">
                        <div class="user-profile-text">
                            @ViewBag.userId
                        </div>
                    </div>
                </div>
                 <div class="pt-add-form-item pt-add-form-text">
                    <div class="pt-add-label">
                        <label for="">
                            Vai trò
                        </label>
                    </div>
                    <div class="pt-add-input-wrapper user-id-wrapper">
                        <div class="user-profile-text">
                             @(ViewBag.userRole switch
                            {
                                UserRole.Student => "Học viên",
                                UserRole.Teacher => "Gia sư",
                                UserRole.Admin => "Quản trị viên",
                                _ => ""
                            })
                        </div>
                    </div>
                </div>
                <div class="pt-add-form-item">
                    <div class="pt-add-label">
                        <label for="">
                            Họ và tên
                        </label>
                    </div>
                    <div class="pt-add-input-wrapper">
                        <input class="pt-add-form-input pt-name-input" type="text" name="Capacity" placeholder="Nhập vào" maxlength="150" value="@ViewBag.userName">
                    </div>
                </div>
                <div class="pt-add-form-item">
                    <div class="pt-add-label">
                        <label for="cat">
                            Giới tính
                        </label>
                    </div>
                     <div class="pt-add-input-wrapper pt-add-subject-wrapper">
                         <label class="auth-label-radio">
                                Nam

                                <input value="male" name="gender" type="radio" class="auth-radio" checked/>

                            </label>
                            <label class="auth-label-radio">
                                Nữ
                                <input value="female" name="gender" type="radio" class="auth-radio" />
                            </label>
                    </div>
                </div>

                <div class="pt-add-form-item">
                    <div class="pt-add-label">
                        <label for="cat">
                            Ngày sinh
                        </label>
                    </div>
                     <div class="pt-add-input-wrapper pt-add-subject-wrapper">
                       <input class="input cb" type="date" name="StartDate" value="2025-04-23" >
                    </div>
                </div>
                <div class="pt-add-form-item">
                    <div class="pt-add-label">
                        <label for="">
                            Số điện thoại
                        </label>
                    </div>
                    <div class="pt-add-input-wrapper">
                        <input class="pt-add-form-input " type="number" name="Fee" placeholder="Nhập vào" maxlength="150" value="09064123456">
                    </div>
                </div>
                <div class="pt-add-form-item">
                    <div class="pt-add-label">
                        <label for="description">
                            Mô tả
                        </label>
                    </div>
                    <div class="pt-add-input-wrapper">
                        <textarea class="pt-add-form-input detail-input" name="Description" id="description"></textarea>
                    </div>
                </div>  
                <div class="pt-add-btn-group">
                    <button class="hl-btn"><span>Lưu</span></button>
                </div>
                <!-- <div class="user-action-buttons">
                    <a href="/User/ChangePassword" class="auth-button card-btn">Đổi mật khẩu</a>
                </div> -->
            </form>
        </div>
    </div>
</div>
