<div id="sidebar" class="admin-sidebar bg-white">
    <ul id="sidebar-menu">
        <li class="nav-link">
            <div class="sidebar-link-title">
                @* <div class="nav-link-icon d-inline-flex"> <i class="far fa-folder"></i> </div> *@
                Trang quản lý
            </div>
            <i class="arrow fas fa-angle-down"></i>
            <ul class="sub-menu" style="display: block;">
                <li class="">
                    <a href="/Admin/Dashboard">Dashboard</a>
                </li>
            </ul>
        </li>
        <li class="nav-link">
            <div class="sidebar-link-title">
                @* <div class="nav-link-icon d-inline-flex"> <i class="far fa-folder"></i> </div>*@
                Quản lý khóa học
            </div>
            <i class="arrow fas fa-angle-down"></i>
            <ul class="sub-menu" style="display: block;">
                <li class=""> <a href="/Admin/CourseManage">danh sách khóa học</a> </li> </ul>
        </li>

        <li class="nav-link">
            <div class="sidebar-link-title">
                @* <div class="nav-link-icon d-inline-flex"> <i class="far fa-folder"></i> </div>  *@
                Quản lý học viên
            </div>
            @* <i class="arrow fas fa-angle-down"></i> *@
            <ul class="sub-menu" style="display: block;">
                <li class="">
                    <a href="/Admin/StudentManage" class="position-relative">Danh sách học viên</a>
                </li>
                <!-- <li class="">
                    <a href="http://localhost/cbmart/admin/user/list">danh sách</a>
                </li> -->
            </ul>
        </li>
        <li class="nav-link">
            <div class="sidebar-link-title">
                @* <div class="nav-link-icon d-inline-flex"> <i class="far fa-folder"></i> </div> *@
                Quản lý gia sư
            </div>
            @* <i class="arrow fas fa-angle-down"></i> *@
            <ul class="sub-menu" style="display: block;">
                <li class=""> <a href="/Admin/TeacherManage" class="position-relative">Danh sách gia sư</a> </li> 
                <!-- <li class="">
                    <a href="http://localhost/cbmart/admin/user/list">danh sách</a>
                </li> -->
            </ul>
        </li>
        <li class="nav-link">
            <div class="sidebar-link-title">
                @* <div class="nav-link-icon d-inline-flex"> <i class="far fa-folder"></i> </div> *@
                Quản lý Đánh Giá
            </div>
            @* <i class="arrow fas fa-angle-down"></i> *@
            <ul class="sub-menu" style="display: block;">
                <li class="">
                    <a href="/Admin/RatingManage">Danh sách đánh giá</a>
                </li>
                <!-- <li class="">
                    <a href="http://localhost/cbmart/admin/user/list">danh sách</a>
                </li> -->
            </ul>
        </li>
    </ul>
</div>