<li class="root" data-v-4133fbdc="">
    <a href="/Admin/Dashboard" data-v-4133fbdc="" class="">
        <span data-v-4133fbdc="" class="navbar-option">
            Trang Quản Lý
        </span>
    </a>
</li>