@using Microsoft.AspNetCore.Http
@using System.Security.Claims

@inject IHttpContextAccessor HttpContextAccessor

@{
    var user = HttpContextAccessor.HttpContext?.User;
    string? user_role = user?.FindFirst(ClaimTypes.Role)?.Value;
    string? display_role = null;
    string? display_name = user?.FindFirst(ClaimTypes.Name)?.Value;

    switch (user_role)
    {
        case UserRole.Teacher:
            display_role = "Gia sư";
            break;

        case UserRole.Student:
            display_role = "Học viên";
            break;

        case UserRole.Admin:
            display_role = "Quản trị viên";
            break;
    }
}

<header class="header">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
        <div class="container-fluid ">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TRUNG TÂM TIÊN TIẾN</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex">
                    <div class="nav-item">
                        <a href="/" class="nav-link text-dark">Trang chủ</a>
                    </div>
                    <div class="nav-item">
                        <a href="/Course" class="nav-link text-dark">Khóa học</a>
                    </div>
                    <div class="nav-item">
                        <a href="/Auth/Login" class="nav-link text-dark">Trang Quản Lý</a>
                    </div>
                </ul>
                <div class="navbar-nav flex user-link-wrapper">
                    @if (user_role is null)
                    {

                    }
                    else if (user_role == UserRole.Student || user_role == UserRole.Teacher)
                    {
                        <div class="nav-item ">
                            <a id="user-info" class="text-dark user-link">
                                <div class="user-role">
                                    @display_role
                                </div>
                                <div class="user-name">
                                    @display_name
                                </div>
                                <div class="user-icon down-arrow">
                                    <svg width="10" height="10" viewBox="0 0 13 12" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.5 12L12.9952 0.75H0.00480938L6.5 12Z" fill="#7F7F7F" />
                                    </svg>
                                </div>
                                <div class="noti-dropdown" id="user-dropdown" style="display:none">
                                    <div class="user-content-wrapper">
                                        <div class="user-item-list">
                                            <div class="user-item">
                                                <a class="user-item-title" href="/User/Profile">
                                                    Thông tin tài khoản
                                                </a>
                                            </div>
                                            <div class="logout-item ">
                                                <form action="/Auth/Logout" method="POST">
                                                    <button type='submit' class="user-item-title logout-button">
                                                        đăng xuất
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="nav-item ">
                            <a id="user-info" class="text-dark user-link">
                                <div class="user-role">
                                    @display_role
                                </div>
                                <div class="user-icon down-arrow">
                                    <svg width="10" height="10" viewBox="0 0 13 12" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.5 12L12.9952 0.75H0.00480938L6.5 12Z" fill="#7F7F7F" />
                                    </svg>
                                </div>
                                <div class="noti-dropdown" id="user-dropdown" style="display:none">
                                    <div class="user-content-wrapper">
                                        <div class="user-item-list">
                                            <div class="user-item">
                                                <a class="user-item-title" href="">
                                                    Thông tin tài khoản
                                                </a>
                                            </div>
                                            <div class="logout-item ">
                                                <form action="/Auth/Logout" method="POST">
                                                    <button type='submit' class="user-item-title logout-button">
                                                        đăng xuất
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </nav>
</header>