<div class="footer">
    <div class="footer-content-wrapper container">
        <div class="footer-content-card about-us-wrapper">
            <div class="footer-content-card-title">
                VỀ TRUNG TÂM TIÊN TIẾN
            </div>
            <div class="footer-content-card-content">
                Trung tâm TIÊN TIẾN được thành lập vào năm 2025
                với mục đích hỗ trợ học viên
                có thể tìm kiếm giảng viên mình muốn một cách
                nhanh chóng, dễ dàng và hiệu quả. Chúng tôi luôn lắng nghe mọi nguyện vọng của giảng viên và học viên,
                dựa vào đó để tiến hành nâng cấp và cải thiện hệ thống nhằm tối ưu trải nghiệm của người dùng
            </div>

        </div>
        <div class="footer-content-card contact">
            <div class="footer-content-card-title">
                LIÊN HỆ
            </div>
            <ul class="footer-content-card-contact">
                <li class="footer-contact-wrapper">
                    <a target="_blank" href="https://web.facebook.com/chibaongunguoi" class="footer-contact-li">
                        <img class="footer-contact-icon"
                            src="https://down-vn.img.susercontent.com/file/2277b37437aa470fd1c71127c6ff8eb5" />
                        <span class="footer-contact-desc">Facebook</span>
                    </a>
                </li>
                <li class="footer-contact-wrapper">
                    <a href="" class="footer-contact-li">
                        <img style="width: 20px; height: 20px;position:relative;top:-1px;margin-right: 0.5rem;"
                            class="footer-contact-icon" src="~/images/icon/phone_icon.png" />
                        <span class="footer-contact-desc phone-number">0967430257</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>