<div id="header_menu" class="d-none d-lg-block" data-v-4133fbdc="">
    <div class="container" data-v-4133fbdc="">
        <div class="row1" data-v-4133fbdc="">
            <div class="header-megamenu" data-v-4133fbdc="">
                <nav id="fieldmegamenu-main" data-v-4133fbdc="">
                    <ul data-v-4133fbdc="">
                        <li class="root active" data-v-4133fbdc="">
                            <a href="/" aria-current="page" class="nuxt-link-exact-active nuxt-link-active"
                                data-v-4133fbdc="">
                                <span data-v-4133fbdc="" class="navbar-option">
                                    <!-- <i class="fa fa-home" data-v-4133fbdc=""></i> -->
                                    Trang chủ
                                </span>
                            </a>
                        </li>
                        <li class="root" data-v-4133fbdc="">
                            <a href="/Course" data-v-4133fbdc="" class="">
                                <span data-v-4133fbdc="" class="navbar-option">
                                    <!-- <i class="fa fa-video-camera" data-v-4133fbdc=""></i> -->
                                    Khóa học
                                </span>
                            </a>
                        </li>
                        <li class="root" data-v-4133fbdc="">
                            <a href="/Teacher" data-v-4133fbdc="" class="">
                                <span data-v-4133fbdc="" class="navbar-option">
                                    <!-- <i class="fa fa-book" data-v-4133fbdc=""></i> -->
                                    Gia sư
                                </span>
                            </a>
                        </li>
                        <li class="root" data-v-4133fbdc="">
                            <a href="/Course/Manage" data-v-4133fbdc="" class="">
                                <span data-v-4133fbdc="" class="navbar-option">
                                    <!-- <i class="fa fa-paperclip" data-v-4133fbdc=""></i> -->
                                    Quản lý khóa học
                                    <span
                                        class="position-absolute translate-middle badge rounded-pill bg-danger course-manage-badget-home">
                                        5
                                        <span class="visually-hidden">unread messages</span>
                                    </span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>