<div id="sidebar" class="bg-white">
    <ul id="sidebar-menu">
        <li class="nav-link">
            <div class="sidebar-link-title">
                <div class="nav-link-icon d-inline-flex">
                    <i class="far fa-folder"></i>
                </div>
                Quản lý Khóa học
            </div>
            <i class="arrow fas fa-angle-down"></i>
            <ul class="sub-menu" style="display: block;">
                <li class="">
                    <a href="/Student/Course">Danh sách khóa học</a>
                </li>
            </ul>
        </li>
        <li class="nav-link">
            <div class="sidebar-link-title">
                <div class="nav-link-icon d-inline-flex">
                    <i class="far fa-folder"></i>
                </div>
                Quản lý Tài Khoản
            </div>
            <i class="arrow fas fa-angle-down"></i>
            <ul class="sub-menu" style="display: block;">
                <li class="">
                    <a href="/Student/ManageProfile">Thông tin tài khoản </a>
                </li>
                <li class="">
                    <a href="/Student/ChangePassword">Đổi mật khẩu</a>
                </li>
            </ul>
        </li>
    </ul>
</div>