<li class="root" data-v-4133fbdc="">
    <a href="/Course/Manage" data-v-4133fbdc="" class="">
        <span data-v-4133fbdc="" class="navbar-option">
            Quản lý khóa học
            @* <span class="position-absolute translate-middle badge rounded-pill bg-danger course-manage-badget-home">
                                        5
                                        <span class="visually-hidden">unread messages</span>
                                    </span> *@
        </span>
    </a>
</li>