<div id="sidebar" class="bg-white">
    <ul id="sidebar-menu">
        <li class="nav-link">
            <div class="sidebar-link-title">
                <div class="nav-link-icon d-inline-flex">
                    <i class="far fa-folder"></i>
                </div>
                Quản lý Khóa học
            </div>
            
            <ul class="sub-menu" style="display: block;">
                <li class="">
                    <a href="/TeacherManage/AddCourse">Tạo mới</a>
                </li>
                <li class="">
                    <a href="/TeacherManage/AddSemester">Mở kỳ học mới</a>
                </li>
                <li class="">
                    <a href="/Course/Manage">danh sách khóa học</a>
                </li>
            </ul>
        </li>
        <li class="nav-link">
            <div class="sidebar-link-title">
                <div class="nav-link-icon d-inline-flex">
                    <i class="far fa-folder"></i>
                </div>
                Quản lý Học viên
            </div>
            
            <ul class="sub-menu" style="display: block;">
                <li class="">
                    <a href="/TeacherManage/ManageRequest" class="position-relative">Học viên chờ xác nhận
                        @* <span class="link-badge position-absolute top-0 translate-middle badge rounded-pill bg-danger">
                            5
                            <span class="visually-hidden">unread messages</span>
                        </span> *@
                    </a>
                </li>
                <!-- <li class="">
                    <a href="http://localhost/cbmart/admin/user/list">danh sách</a>
                </li> -->
            </ul>
        </li>
        <li class="nav-link">
            <div class="sidebar-link-title">
                <div class="nav-link-icon d-inline-flex">
                    <i class="far fa-folder"></i>
                </div>
                Quản lý Đánh Giá
            </div>
            
            <ul class="sub-menu" style="display: block;">
                <li class="">
                    <a href="/TeacherManage/ManageRating">Danh Sách Đánh Giá</a>
                </li>
                <!-- <li class="">
                    <a href="http://localhost/cbmart/admin/user/list">danh sách</a>
                </li> -->
            </ul>
        </li>
        <li class="nav-link">
            <div class="sidebar-link-title">
                <div class="nav-link-icon d-inline-flex">
                    <i class="far fa-folder"></i>
                </div>
                Quản lý Tài Khoản
            </div>
            
            <ul class="sub-menu" style="display: block;">
                <li class="">
                    <a href="/TeacherManage/ManageProfile">Thông tin tài khoản</a>
                </li>
                <li class="">
                    <a href="/TeacherManage/ChangePassword">Đổi mật khẩu</a>
                </li>
            </ul>
        </li>
    </ul>
</div>