@{
    var contextComponent = ".pagination-list";
    var contextUrl = "/GetTeacher/getBriefTeacherCards";
}

<div class="text-center">
    <div class="shop-section-wrapper container">
        <div class="shop-section-header">
            <div class="shop-section-title section-title">
                Danh sách giảng viên
            </div>
        </div>
        <div class="shop-section-content">
            @await Html.PartialAsync("Search/_TeacherSearchForm")
            <div class="card-product-ul pagination-list"> </div>
            <div class="pagination-bar"></div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/pagination.js" asp-append-version="true"></script>
    <script>
        initPagination(1, @ViewBag.maxIndexPage, "@contextUrl", "@contextComponent")
    </script>
}
