
<div class="shop-section-wrapper container">
<div class="teacher-profile-wrapper clearfix" style="clear: both;">
    <div class="shop-section-header">
            <div class="shop-section-title">
                Thông tin gia sư
            </div>
        </div>
<div class="block_image_news" style="clear: both;">
    <div class="teacher-card-main-content">
            <div class="thumb" style="width:110px; height:100px !important; max-height:110px !important;">
                <img src="/images/thumbnail/thumbnail.jpg" style="width:100%; height:110px;">
            </div>
            <div style="line-height:150% !important; font-size:14px;">
                <div class="teacher-card-field"><strong>Mã số:</strong> 2001</div>
                <div class="teacher-card-field">
                    <strong>Tên gia sư:</strong> 
                    <strong style="color:#008eff;">
                        <a href="/gia-su-2918.html">Nguyễn Chí Bảo</a>
                    </strong>
                </div>
                <div class="teacher-card-field"><strong>Giới tính:</strong> Nam</div>
                <div class="teacher-card-field teacher-down"><strong>Ngày sinh:</strong> 20/11/2231</div>
            </div>
        </div>

        <div class="teacher-card-desc">
            <div class="teacher-card-field"><strong>Mô tả:</strong></div>
            <div class="card-sem-des-content" >
                <div>- Giúp bạn out trình mấy con gà không đi học thêm</div>
                <div>- Không sợ out meta, top 1 tri thức hệ toán</div>
                <div>- VDC không còn khó, đại học Vinh chỉ còn là cái tên</div>
                <div>- Giúp bạn out trình mấy con gà không đi học thêm</div>
                <div>- Không sợ out meta, top 1 tri thức hệ toán</div>
                <div>- VDC không còn khó, đại học Vinh chỉ còn là cái tên</div>
                <div>- Giúp bạn out trình mấy con gà không đi học thêm</div>
                <div>- Không sợ out meta, top 1 tri thức hệ toán</div>
                <div>- VDC không còn khó, đại học Vinh chỉ còn là cái tên</div>
                <div>- Giúp bạn out trình mấy con gà không đi học thêm</div>
                <div>- Không sợ out meta, top 1 tri thức hệ toán</div>
                <div>- VDC không còn khó, đại học Vinh chỉ còn là cái tên</div>
                <div>- Giúp bạn out trình mấy con gà không đi học thêm</div>
                <div>- Không sợ out meta, top 1 tri thức hệ toán</div>
                <div>- VDC không còn khó, đại học Vinh chỉ còn là cái tên</div>
                <div>- Giúp bạn out trình mấy con gà không đi học thêm</div>
                <div>- Không sợ out meta, top 1 tri thức hệ toán</div>
                <div>- VDC không còn khó, đại học Vinh chỉ còn là cái tên</div>                    
            </div>
        </div>
</div>
</div>
<div class="shop-section-wrapper container">
        <div class="shop-section-header">
            <div class="shop-section-title">
                Danh sách khóa học
            </div>
        </div>
        <div class="shop-section-content">
            <div class="card-search-wrapper">
                @await Html.PartialAsync("_SearchSemSection")
            </div>
            <div class="card-product-ul">
                @await Html.PartialAsync("_SemesterCardList", (object)ViewBag.courses)
            </div>

            @await Html.PartialAsync("_Pagination", (int)ViewBag.currentPage)
        </div>
    </div>
     </div>
