<div class="teacher-profile-wrapper clearfix" style="clear: both;">
    <div class="shop-section-title">
        Thông tin gia sư
    </div>
<div class="block_image_news" style="clear: both;">
    <div class="thumb" style="height:130px !important; max-height:130px !important;">
        <img src="http://localhost:5022/images/thumbnail/thumbnail.jpg" style="width:100%; height:128px;">
    </div>
    <div style="line-height:150% !important; font-size:14px;">
        <div><strong>Mã số:</strong> 2918</div>
        <div><strong>Tên gia sư:</strong> 
            <strong style="color:#008eff;">
                <a href="/gia-su-2918.html">Lương Nguyễn Hữu Phước</a>
            </strong>
        </div>
        <div><strong>Năm sinh:</strong> 1987</div>
        <div><strong>Hiện là:</strong> Đã tốt nghiệp</div>
        <div><strong>Trường:</strong> ĐH Sư Phạm TP.HCM</div>
        <div><strong>Chuyên ngành:</strong> Sư phạm Toán</div>
        <div><strong>Năm tốt nghiệp:</strong> 2017</div>
        <div><strong>Nhận dạy:</strong> Lớp 6, Lớp 7, Lớp 8, Lớp 10, Lớp 12</div>
        <div><strong>Các môn:</strong> Toán, Lý, Hóa</div>
        <div><strong>Khu vực:</strong> Quận 1, Quận Phú Nhuận, Quận Bình Thạnh</div>
        
        <div><strong>Thông tin khác:</strong> Có kinh nghiệm dạy kèm</div>
    </div>
</div>
</div>
<div class="shop-section-wrapper container">
        <div class="shop-section-header">
            <div class="shop-section-title">
                Danh sách khóa học
            </div>
        </div>
        <div class="shop-section-content">
            <div class="card-search-wrapper">
                @await Html.PartialAsync("_SearchSemSection")
            </div>
            <div class="card-product-ul">
                @await Html.PartialAsync("_SemesterCardList", (object)ViewBag.teachers)
            </div>

            <nav aria-label="pagination-wrapper">
                <ul class="pagination">
                    @* pagination *@
                    <li class="page-item ">
                        <a class='page-link pa-active' href="">
                            1
                        </a>
                    </li>
                    @for (int i = 2; i < 5; i++)
                    {
                        <li class="page-item ">
                            <a class='page-link' href="">
                                @i
                            </a>
                        </li>
                    }
                    <li class="page-item dot">
                        . . .
                    </li>
                    @for (int i = 5; i < 8; i++)
                    {
                        <li class="page-item">
                            <a class='page-link ' href="">
                                @i
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>