@{
Layout = "_ManageLayout"; // Sử dụng layout admin

}



  <div id="content" class="container-fluid">
    <div class="card">
      <div class="card-header font-weight-bold d-flex justify-content-between align-items-center">
        <div class="m-0 table-title">Danh sách đánh giá</div>
        <!-- <form method="GET" class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-12">
          <input type="text" class="form-control" name="q" placeholder="Tìm kiếm" value="">
        </div>
        <div class="col-12">
          <input type="submit" name="" class="btn btn-primary btn-search col-12" value="Tìm kiếm">
        </div>
      </form> -->
      </div>

      <div class="card-body">
        <table class="table table-striped table-checkall">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Tên khóa học</th>
              <th scope="col">Đánh giá</th>
              <th scope="col">Thời gian</th>
              <th scope="col">Nội dung</th>
              <th scope="col">Tác vụ</th>
            </tr>
          </thead>
          <tbody>
          
            <tr>
              <td scope="row" class="table-index">1</td>
              <td>
                <a class="course-table-name" href='/Course/Detail?course_id=card.course_id' target="_blank">
                  card.course_name
                </a>
              </td>
              <td>4/5</td>
              <td>4/11/2025 5:43:10</td>
              <td>Khóa học cũng khá là wow đấy </td>
              <td>
                <div class="button-group-wrapper course-manager">
                  <!-- <button class="card-btn course-detail" onclick="window.location.href='/Course/Detail?course_id=1'">Xem
                    các kì học </button>
                  <button class="card-btn course-detail">Xem đánh giá</button> -->
                  <button class="card-btn choose">Sửa đánh giá</button>
                </div>
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
