
<div class="text-center">
    <div class="shop-section-wrapper container">
        <div class="shop-s  ection-header">
            <div class="shop-section-title">
                Danh sách gia sư
            </div>
        </div>
        <div class="shop-section-content">
            <div class="card-search-wrapper">
                @await Html.PartialAsync("_SearchTeacherSection")
            </div>
            <div class="card-product-ul">
                @await Html.PartialAsync("_TeacherCardList", (object)ViewBag.teachers)
            </div>

            @await Html.PartialAsync("_Pagination", 10)


        </div>
    </div>
</div>
