@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="shop-section-wrapper container">
        <div class="shop-section-header">
            <div class="shop-section-title">
                Danh sách gia sư
            </div>
        </div>
        <div class="shop-section-content">
            <div class="card-product-ul">
                @* //tchCard *@
                <div class="card-product-li">
                    <a href="card-product-li-content">
                        <div class="card-product-img-wrapper">
                            <img class="card-product-img"
                                src="https://cdn-media.sforum.vn/storage/app/media/THANHAN/avatar-trang-100.jpg"></img>
                            @* //Max:386 *@
                        </div>
                        <div class="card-product-desc">
                            <div class="card-product-name">
                                Canvas Bee|Star bracelet design, versatile whitening and sweet bracelet
                            </div>
                            <div class="card-product-price-wrapper">
                                <div class="card-product-price">
                                    <span class="price">7,000</span>
                                    <span class="currency">₫</span>
                                    <span class="discount">-30%</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                @* // *@

            </div>
            <div class="product-load-more-wrapper">
                <div class="product-load-more-button">
                    XEM THÊM
                </div>
            </div>
        </div>
    </div>


</div>
