@using System.Text.Json

@{
  Layout = "Layout/_TeacherManageLayout";
}

<div id="content" class="container-fluid">
  <div class="card">
    <div class="card-header font-weight-bold d-flex justify-content-between align-items-center">
      <div class="m-0 table-title">Khóa học của tôi</div>
      <div id="pagination-form">
        <form method="GET" class="row row-cols-lg-auto g-3 align-items-center">
          <div class="col-12">
            <input type="text" class="form-control" name="searchQuery" placeholder="Tìm kiếm" value="">
          </div>
          <div class="col-12">
            <input type="submit" name="" class="btn btn-primary btn-search col-12" value="Tìm kiếm">
          </div>
        </form>
      </div>
    </div>
    <div id="pagination-list"></div>
    <div id="pagination-bar"></div>
  </div>
</div>

@await Html.PartialAsync("Popup/_EditCoursePopup")

<style>
    .card-btn {
        white-space: nowrap;
        padding: 2px 4px;
        flex: 1;
        text-align: center;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        min-width: 80px;
        max-width: 105px;
        margin: 0 1px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<script>
  function reload() { document.querySelector('#pagination-bar .page-link.pa-active').click() }
  document.querySelector('#EditCourseModal').addEventListener('click', reload);
  const paginationData = { CurrentPage: 1, ItemsPerPage: 20 };
  initPagination(paginationData, "/TeacherManageAPI/ManageCourse", "#pagination-list", null, "#pagination-bar", "#pagination-form");
</script>
