<div class="modal fade" id="StudentCoursesModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Danh sách khóa học của học viên</h5>
        <button type="button" class="btn-close close-popup" data-bs-dismiss="modal" aria-label="Đóng"></button>
      </div>
      <div class="modal-body">
        <div id="StudentCoursesPlaceholder"></div>
        <div id="student-courses-pagination"></div>
      </div>
    </div>
  </div>
</div>