<div class="modal modal fade" id="studentTableModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Danh sách học viên trong kỳ học</h5>
        <button type="button" class="btn-close close-popup" data-bs-dismiss="modal" aria-label="Đóng"></button>
      </div>
      <div id="modal-semester-students"></div>
      <div id="semester-students-pagination"></div>
    </div>
  </div>
</div>