<div class="modal modal fade" id="StudentRatingsModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
  data-bs-keyboard="false">
  <div class="modal-dialog modal-xl"> <!-- Changed from modal-lg to modal-xl for extra width -->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Danh sách đánh giá của học viên</h5>
        <button type="button" class="btn-close close-popup" data-bs-dismiss="modal" aria-label="Đóng"></button>
      </div>
      <div class="modal-body">
        <div id="StudentRatingsPlaceholder"></div>
        <div id="student-ratings-pagination"></div>
      </div>
    </div>
  </div>
</div>