<div class="modal fade" id="TchCorModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static" data-
  bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Danh sách khóa học của gia sư</h5>
        <button type="button" class="btn-close close-popup" data-bs-dismiss="modal" aria-label="Đóng"></button>
      </div>
      <div class="modal-body">
        <div id="teacher-courses-container">
          <div class="text-center">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </div>
        <div class=" mt-3" id="teacher-courses-pagination">
        </div>
      </div>
    </div>
  </div>
</div>