<div class="modal modal fade" id="CourseModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Danh sách khóa học của Nguyễn Chí Bảo</h5>
        <button type="button" class="btn-close close-popup" data-bs-dismiss="modal" aria-label="Đóng"></button>
      </div>

      <div class="modal-body">
        <table class="table table-striped table-checkall">
          <thead>
           <tr>
            <th scope="col">#</th>
            <th scope="col">Tên khóa học</th>
            <th scope="col">Đánh giá</th>
            <th scope="col">Tình trạng</th>
            <th scope="col">Môn học</th>
            <th scope="col">Lớp</th>
            <th scope="col">Tác vụ</th>
        </tr>
          </thead>
          <tbody>

            <tr>
              <td scope="row" class="table-index">Model.table_index</td>
    <td>
        <a class="course-table-name" href='/Course/Detail?courseId=Model.course_id' target="_blank">
            Model.course_name
        </a>
    </td>
    <td>Model.avg_rating</td>
    <td>Model.course_state</td>
    <td>Model.subject</td>
    <td>Model.grade</td>
    <td>
        <div class="button-group-wrapper course-manager">
            <button class="card-btn course-detail"
                onclick="window.location.href='/Course/Detail?courseId=Model.course_id'">Xem chi tiết</button>

        </div>
    </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>