<div class="modal fade" id="DeleteCourseModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa khóa học</h5>
                <button type="button" class="btn-close close-popup" data-bs-dismiss="modal" aria-label="Đóng"></button>
            </div>
            <div class="modal-body">
                <div>Tên Khóa Học: <span id="DeleteCourseName"></span></div>
                <div>Tên Gia Sư: <span id="DeleteCourseTchName"></span></div>
                <div id="DeleteCourseFormPlaceholder"></div>
            </div>
        </div>
    </div>
</div>