<div class="modal fade" id="DeleteAccountModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
    data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa tài khoản</h5>
                <button type="button" class="btn-close close-popup" data-bs-dismiss="modal" aria-label="Đóng"></button>
            </div>
            <div class="modal-body">
                <div>Id: <span id="DeleteAccountId"></span></div> <div>Họ và tên: <span id="DeleteAccountName"></span></div>
                <div id="DeleteAccountFormPlaceholder"></div>
            </div>
        </div>
    </div>
</div>