<div class="modal fade" id="EditStudentModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chỉnh Sửa Thông Tin Tài Khoản</h5>
                <button type="button" class="btn-close close-popup" data-bs-dismiss="modal" aria-label="Đóng"></button>
            </div>
            <div class="modal-body">
                <div id="AdminEditStuProfileFormPlaceholder"></div>
            </div>
        </div>
    </div>
</div>