<div class="modal modal fade" id="studentTableModal-@Model.semesterId" tabindex="-1" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Danh sách kỳ học của VDC toán 12</h5>
        <button type="button" class="btn-close close-popup" data-bs-dismiss="modal" aria-label="Đóng"></button>
      </div>
      <div id="modal-@Model.semesterId"></div>
    </div>
  </div>
</div>