.course-manager {
  width: 90%;
  flex-wrap: wrap;
}
.course-manager .card-btn {
  margin-bottom: 5px;
}
.table-index {
  font-weight: bold;
}
.course-table-name {
  font-weight: bold;
  color: #2e86de;
}
/* .card-header {
  background-color: white;
} */
.table-title {
  font-size: 18px;
}
.card-body {
  padding: 10px 16px;
}
/* chart */
.chart-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 12px;
}
#myChart,
#semChart {
  background-color: white; /* Light gray or any color */
  height: 400px !important;
  /* width: 50% !important; */
}
.newtb {
  margin-left: 2px;
}
/* Số lượng học viên đăng ký khóa học theo tháng */
