.course-manager {
  width: 90%;
  flex-wrap: wrap;
}
.course-manager .card-btn {
  margin-bottom: 5px;
}
.table-index {
  font-weight: bold;
}
.course-table-name {
  font-weight: bold;
  color: #2e86de;
}
