@model CoursePaymentModel

<div class="course-content-wrapper">
    <div class="shop-section-wrapper container">
        <div class="shop-section-header">
            <div class="shop-section-title">
                Thanh toán
            </div>
        </div>
        @await Html.PartialAsync("_SuccessErrorMessage")
        @if (Model.IsValid)
        {
            <div class="shop-section-content">
                <div class="card-product-ul text-center">
                    @await Html.PartialAsync("_QRCard")
                    @await Html.PartialAsync("_PaymentDetail", Model)
                </div>
            </div>
        }
    </div>
</div>
