@{
    Layout = "_ManageLayout"; // Sử dụng layout admin

}

<div class="pt-add-content-wrapper">
    <div class="pt-add-content">
        <div class="pt-add-title">Thông tin khóa học</div>
        <div class="pt-add-form">
            <!-- <form id="pt-add" action="AddCourse" enctype="multipart/form-data" method="POST"> -->
            <form action="add_course" id="pt-add" method="POST">
                <div class="pt-add-form-item">
                    <div class="pt-add-label">
                        <label for="">
                            <div class="required-icon">*</div>Tên khóa học
                        </label>
                    </div>
                    <div class="pt-add-input-wrapper">
                        <input class="pt-add-form-input pt-name-input" type="text" name="CourseName" placeholder="Nhập vào" maxlength="150">
                    </div>
                </div>

                <div class="pt-add-form-item">
                    <div class="pt-add-label">
                        <label for="cat">
                            <div class="required-icon">*</div>Môn học
                        </label>
                    </div>
                     <div class="pt-add-input-wrapper pt-add-subject-wrapper">
                        <select class=" input cb"  name="Subject">
                            <option value="1">Chọn khóa học</option>
                            <option value="Toán">Toán</option>
                            <option value="Ngữ Văn">Ngữ Văn</option>
                            <option value="Tiếng Anh">Tiếng Anh</option>
                            <option value="Vật lí">Vật lí</option>
                        </select>
                    </div>
                     <div class="pt-add-label">
                        <label for="cat">
                            <div class="required-icon">*</div>Lớp
                        </label>
                    </div>
                     <div class="pt-add-input-wrapper pt-add-class-wrapper">
                        <select class=" input cb"  name="Grade">
                             <option value="0">Chọn lớp</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                        </select>
                    </div>
                </div>

                <div class="pt-add-form-item">
                    <div class="pt-add-label">
                        <label for="cat">
                            <div class="required-icon">*</div>Ngày bắt đầu
                        </label>
                    </div>
                     <div class="pt-add-input-wrapper pt-add-subject-wrapper">
                       <input class="input cb" type="date" name="StartDate" >
                    </div>
                     <div class="pt-add-label">
                        <label for="cat">
                            <div class="required-icon">*</div>Ngày kết thúc
                        </label>
                    </div>
                     <div class="pt-add-input-wrapper pt-add-class-wrapper">
                        <input class="input cb" type="date" name="FinishDate" >
                    </div>
                </div>
                <div class="pt-add-form-item">
                    <div class="pt-add-label">
                        <label for="">
                            <div class="required-icon">*</div>Số học viên đối đa
                        </label>
                    </div>
                    <div class="pt-add-input-wrapper">
                        <input class="pt-add-form-input pt-name-input" type="number" name="Capacity" placeholder="Nhập vào" maxlength="150" >
                    </div>
                </div>
                <div class="pt-add-form-item">
                    <div class="pt-add-label">
                        <label for="">
                            <div class="required-icon">*</div>Học phí
                        </label>
                    </div>
                    <div class="pt-add-input-wrapper">
                        <input class="pt-add-form-input pt-add-price-input" type="number" name="Fee" placeholder="Nhập vào" maxlength="150" value="">
                        <div class="money-detail">₫</div>
                    </div>
                </div>
                <div class="pt-add-form-item">
                    <div class="pt-add-label">
                        <label for="description">
                            <div class="required-icon">*</div>Mô tả khóa học
                        </label>
                    </div>
                    <div class="pt-add-input-wrapper">
                        <textarea class="pt-add-form-input detail-input" name="Description" id="description"></textarea>
                    </div>
                </div>  
                <div class="pt-add-btn-group">
                    <button class="hl-btn"><span>Xác nhận</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
