@{
  DetailedCoursePage page = (DetailedCoursePage)ViewBag.page;
  var teacher = page.teacher_lst[0];
  var course = page.course_lst[0];
}

<div class="course-content-wrapper">
    <div class="shop-section-wrapper container">
        <div class="shop-section-header">
            <div class="shop-section-title">
                Chi tiết khóa học
            </div>
        </div>
        <div class="shop-section-content">
            <div class="card-product-ul text-center">
              @await Html.PartialAsync("_TeacherCard", (object)teacher)

              @await Html.PartialAsync("_SemesterCardDetail", (object)course)
            </div>         
        </div>
    </div>

    <div class="shop-section-wrapper container rating-wrapper">
        <div class="shop-section-header">
            <div class="shop-section-title">
                Đánh giá khóa học
            </div>
        </div>
        <div class="shop-section-content">
        @await Html.PartialAsync("_RatingTable", (page.averageRating, page.numRatings))
        <div class="rating-comment-wapper">
        @foreach (var card in page.cards)
        {
          @await Html.PartialAsync("_RatingComment", (object)card)      
        }
        </div>
        <div class="reviews-item">
            @await Html.PartialAsync("_Pagination", (int)ViewBag.currentPage)
        </div>    
        </div>
    </div>
</div>
