@{
  DetailedCoursePage page = (DetailedCoursePage)ViewBag.page;
  var teacher = page.teacher_lst[0];
  var course = page.course_lst[0];
}

<div class="course-content-wrapper">
    <div class="shop-section-wrapper container">
        <div class="shop-section-header">
            <div class="shop-section-title">
                Chi tiết khóa học
            </div>
        </div>
        <div class="shop-section-content">
            <div class="card-product-ul text-center">
              @await Html.PartialAsync("_TeacherCard", (object)teacher)

              @await Html.PartialAsync("_SemesterCardDetail", (object)course)
            </div>         
        </div>
    </div>

    <div class="shop-section-wrapper container rating-wrapper">
        <div class="shop-section-header">
            <div class="shop-section-title">
                Đánh giá khóa học
            </div>
        </div>
        <div class="shop-section-content">
        @await Html.PartialAsync("_RatingTable", (page.averageRating, page.numRatings, page.rating_counts))
        <div class="rating-comment-wapper">
        <div class="rating-card-list">
            @await Html.PartialAsync("_RatingCardList", (object)page.cards)
        </div>
        </div>
        <div class="reviews-item">
            <div class="review-pagination">
          @await Html.PartialAsync("_PaginationAjax", (page.current_page, page.total_num_pages, $"/GetCourse/getRatingCards?course_id={page.course_id}", ".rating-card-list"))
            </div> 
        </div>    
        </div>
    </div>
</div>
