@{
  var p = (DetailedCoursePage)ViewBag.page;
  var teacher = p.teacherLst[0];
  var course = p.courseLst[0];
  var contextUrl = $"/ratingAPI/DetailedCoursePage?courseId={p.courseId}";
  var contextComponent = ".pagination-list";
}

<div class="course-content-wrapper">
    <div class="shop-section-wrapper container">
        <div class="shop-section-header">
            <div class="shop-section-title section-title">
                Chi tiết khóa học
            </div>
        </div>
        <div class="shop-section-content">
            <div class="card-product-ul text-center">
              @await Html.PartialAsync("Card/_BriefTeacherCard", (object)teacher)
              @await Html.PartialAsync("Card/_DetailedCourseCard", (object)course)
            </div>         
        </div>
    </div>

    <div class="shop-section-wrapper container rating-wrapper">
        <div class="shop-section-header">
            <div class="shop-section-title section-title">
                Đánh giá khóa học
            </div>
        </div>
        <div class="shop-section-content">
        @await Html.PartialAsync("_RatingTable", (p.averageRating, p.numRatings, p.rating_counts))
        <div class="rating-comment-wapper">
        <div class="pagination-list"></div>
        </div>
        <div class="pagination-bar"></div>    
        </div>
    </div>
</div>

@section Scripts {
<script src="~/js/pagination.js" asp-append-version="true"></script>
<script>
  initPagination(1, @p.maxPageNum, "@contextUrl", "@contextComponent")
</script>
}
