
<div class="course-content-wrapper">
    <div class="shop-section-wrapper container">
        <div class="shop-section-header">
            <div class="shop-section-title">
                Chi tiết khóa học
            </div>
        </div>
        <div class="shop-section-content">
            <div class="card-product-ul text-center">
          @{
                var teachers1 = ViewBag.teachers as List<BriefTeacherCard>;
                var firstteacher=teachers1[0];
            } 
              @await Html.PartialAsync("_TeacherCard", firstteacher)
            
                @await Html.PartialAsync("_SemesterCardDetail")
            </div>         
        </div>
    </div>

    <div class="shop-section-wrapper container rating-wrapper">
        <div class="shop-section-header">
            <div class="shop-section-title">
                Đánh giá khóa học
            </div>
        </div>
        <div class="shop-section-content">
        @await Html.PartialAsync("_RatingTable")
        <div class="rating-comment-wapper">
            @await Html.PartialAsync("_RatingComment")      
            @await Html.PartialAsync("_RatingComment")   
            @await Html.PartialAsync("_RatingComment")
            @await Html.PartialAsync("_RatingComment")      
            @await Html.PartialAsync("_RatingComment")   
            @await Html.PartialAsync("_RatingComment")
        </div>
        <div class="reviews-item">
            @await Html.PartialAsync("_Pagination",1    )
        </div>    
        </div>
    </div>
</div>
