<div class="course-content-wrapper">
  <div class="shop-section-wrapper container">
    <div class="shop-section-header section-header">
      <div class="shop-section-title section-title">
        Danh sách khóa học
      </div>
    </div>
    <div class="shop-section-content">
      <div class="card-search-wrapper">
        @await Html.PartialAsync("_SearchSemSection")
      </div>
      <div class="brief-course-cards card-product-ul">
        @await Html.PartialAsync("_SemesterCardList", (object)ViewBag.courses)
      </div>
      <div class="review-pagination">
        @await Html.PartialAsync("_PaginationAjax", (1, (int)ViewBag.maxIndexPage, $"/GetCourse/getBriefCourseCards", ".brief-course-cards"))
      </div>
    </div>
  </div>
</div>
