
<div class="course-content-wrapper">
    <div class="shop-section-wrapper container">
        <div class="shop-section-header">
            <div class="shop-section-title">
                Thanh toán 
            </div>
        </div>
        <div class="shop-section-content">
            <div class="card-product-ul text-center">
              @await Html.PartialAsync("_QRCard")

              @await Html.PartialAsync("_PaymentDetail")
            </div>         
        </div>
    </div>
</div>
