@{
Layout = "_ManageLayout"; // Sử dụng layout admin

}


@{
List<CourseOption> courses = ((AddSemesterPage)ViewBag.page).courses;
  }

  <div class="pt-add-content-wrapper">
    <div class="pt-add-content">
      <div class="pt-add-title">Thông tin kỳ học</div>
      <div class="pt-add-form">
        <form action="add_semester" id="pt-add" enctype="multipart/form-data" method="POST">

          <div class="pt-add-form-item">
            <div class="pt-add-label">
              <label for="">
                <div class="required-icon">*</div>Khóa học
              </label>
            </div>
            <div class="pt-add-input-wrapper">
              <select class="pt-add-form-input pt-course-input" id="comboBox" name="CourseID">
                <option value="">Chọn khóa học đã có sẵn</option>
                @foreach(var course in courses)
                {
                <option value="@course.id">@course.name</option>
                }
              </select>
            </div>
          </div>

          <div class="pt-add-form-item">
            <div class="pt-add-label">
              <label for="cat">
                <div class="required-icon">*</div>Ngày bắt đầu
              </label>
            </div>
            <div class="pt-add-input-wrapper pt-add-subject-wrapper">
              <input class="input cb" type="date" name="StartDate">
            </div>
            <div class="pt-add-label">
              <label for="cat">
                <div class="required-icon">*</div>Ngày kết thúc
              </label>
            </div>
            <div class="pt-add-input-wrapper pt-add-class-wrapper">
              <input class="input cb" type="date" name="FinishDate">
            </div>
          </div>
          <div class="pt-add-form-item">
            <div class="pt-add-label">
              <label for="">
                <div class="required-icon">*</div>Số học viên đối đa
              </label>
            </div>
            <div class="pt-add-input-wrapper">
              <input class="pt-add-form-input pt-name-input" type="number" name="Capacity" placeholder="Nhập vào"
                maxlength="150">
            </div>
          </div>
          <div class="pt-add-form-item">
            <div class="pt-add-label">
              <label for="">
                <div class="required-icon">*</div>Học phí
              </label>
            </div>
            <div class="pt-add-input-wrapper">
              <input class="pt-add-form-input pt-add-price-input" type="number" name="Fee" placeholder="Nhập vào"
                maxlength="150" value="">
              <div class="money-detail">₫</div>
            </div>
          </div>
          <div class="pt-add-form-item">
            <div class="pt-add-label">
              <label for="description">
                <div class="required-icon">*</div>Mô tả khóa học
              </label>
            </div>
            <div class="pt-add-input-wrapper">
              <textarea class="pt-add-form-input detail-input" name="Description" id="description"></textarea>
            </div>
          </div>
          <div class="pt-add-btn-group">
            <button class="hl-btn"><span>Xác nhận</span></button>
          </div>
        </form>
      </div>
    </div>
  </div>
