@model PasswordChangeForm

@await Html.PartialAsync("_SuccessErrorMessage")
<div class="pt-add-content-wrapper">
    <div class="pt-add-content ">
        <div class="pt-add-title">Đổi mật khẩu</div>
        <div class="pt-add-form">
            <!-- <form id="pt-add" action="AddCourse" enctype="multipart/form-data" method="POST"> -->
            <form id="pt-add" method="POST">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="pt-add-form-item">
                    <div class="pt-add-label">
                        <label asp-for="NewPassword">
                            <div class="required-icon">*</div>Mật khẩu mới
                        </label>
                    </div>                    <div class="pt-add-input-wrapper">
                        <input asp-for="NewPassword" type="password" placeholder="Nhập vào"
                            class="pt-add-form-input pt-name-input" />
                       @await Html.PartialAsync("Components/_Eye")
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="pt-add-form-item">
                    <div class="pt-add-label">
                        <label asp-for="ConfirmPassword">
                            <div class="required-icon">*</div>Nhập lại mật khẩu mới
                        </label>
                    </div>                    <div class="pt-add-input-wrapper">
                        <input class="pt-add-form-input pt-name-input" type="password" asp-for="ConfirmPassword"
                            placeholder="Nhập vào" maxlength="150">
                       @await Html.PartialAsync("Components/_Eye")
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="pt-add-btn-group">
                    <button class="hl-btn"><span>Lưu</span></button>
                </div>
            </form>
        </div>
    </div>
</div>