@model PasswordChangeForm

@await Html.PartialAsync("_SuccessErrorMessage")
<div class="pt-add-content-wrapper">
    <div class="pt-add-content ">
        <div class="pt-add-title">Đổi mật khẩu</div>
        <div class="pt-add-form">
            <!-- <form id="pt-add" action="AddCourse" enctype="multipart/form-data" method="POST"> -->
            <form id="pt-add" method="POST">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="pt-add-form-item">
                    <div class="pt-add-label">
                        <label asp-for="NewPassword">
                            <div class="required-icon">*</div>Mật khẩu mới
                        </label>
                    </div>                    <div class="pt-add-input-wrapper">
                        <input asp-for="NewPassword" type="password" placeholder="Nhập vào"
                            class="pt-add-form-input pt-name-input" />
                        <div class="hide-show-icon-wrapper">
                            <div class="eye-icon-wrapper">
                                <svg class="eye-icon eye-close" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 36 36" width="100%" height="100%">
                                    <path d="M32.711 11c-3.166 4.841-8.573 8.03-14.71 8.03-6.139 0-11.546-3.189-14.712-8.03M9.79 17.5l-3 5m8.5-3-1 5.5m12.5-7.5 3 5m-8.5-3 1 5.5"></path>
                                </svg>
                                <svg class="eye-icon eye-open" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 36 36" width="100%" height="100%">
                                    <circle cx="18" cy="17.5" r="4"></circle>
                                    <path d="M3.284 18.47a1.77 1.77 0 0 1 0-1.94c3.167-4.84 8.573-8.03 14.711-8.03s11.545 3.19 14.711 8.03a1.77 1.77 0 0 1 0 1.94c-3.166 4.84-8.573 8.03-14.71 8.03-6.139 0-11.545-3.19-14.712-8.03"></path>
                                </svg>
                            </div>
                        </div>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="pt-add-form-item">
                    <div class="pt-add-label">
                        <label asp-for="ConfirmPassword">
                            <div class="required-icon">*</div>Nhập lại mật khẩu mới
                        </label>
                    </div>                    <div class="pt-add-input-wrapper">
                        <input class="pt-add-form-input pt-name-input" type="password" asp-for="ConfirmPassword"
                            placeholder="Nhập vào" maxlength="150">
                        <div class="hide-show-icon-wrapper">
                            <div class="eye-icon-wrapper">
                                <svg class="eye-icon eye-close" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 36 36" width="100%" height="100%">
                                    <path d="M32.711 11c-3.166 4.841-8.573 8.03-14.71 8.03-6.139 0-11.546-3.189-14.712-8.03M9.79 17.5l-3 5m8.5-3-1 5.5m12.5-7.5 3 5m-8.5-3 1 5.5"></path>
                                </svg>
                                <svg class="eye-icon eye-open" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 36 36" width="100%" height="100%">
                                    <circle cx="18" cy="17.5" r="4"></circle>
                                    <path d="M3.284 18.47a1.77 1.77 0 0 1 0-1.94c3.167-4.84 8.573-8.03 14.711-8.03s11.545 3.19 14.711 8.03a1.77 1.77 0 0 1 0 1.94c-3.166 4.84-8.573 8.03-14.71 8.03-6.139 0-11.545-3.19-14.712-8.03"></path>
                                </svg>
                            </div>
                        </div>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="pt-add-btn-group">
                    <button class="hl-btn"><span>Lưu</span></button>
                </div>
            </form>
        </div>
    </div>
</div>